<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/contrate_agora</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">false</property>
    <property name="hbm2ddl.auto">update</property>
    <mapping resource="model/TtAgenda.hbm.xml"/>
    <mapping resource="model/TaServicoPrestado.hbm.xml"/>
    <mapping resource="model/TbPrestador.hbm.xml"/>
    <mapping resource="model/TtTipoServico.hbm.xml"/>
    <mapping resource="model/TtTipoPrestador.hbm.xml"/>
    <mapping resource="model/TtTipoPagamento.hbm.xml"/>
    <mapping resource="model/TtCategoriaServico.hbm.xml"/>
    <mapping resource="model/TbUsuario.hbm.xml"/>
    <mapping resource="model/TtPagamento.hbm.xml"/>
    <mapping resource="model/TaMensagem.hbm.xml"/>
    <mapping resource="model/TbServico.hbm.xml"/>
    <mapping resource="model/TtAssinatura.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
